.song-card {
  display: flex;
  flex-direction: column;
  -ms-align-items: left;
  align-items: left;
  border: 1px solid black;
  border-radius: 10px;
  margin: 1.25em;
  width: 400px;
  background-color: #ccc;
}

.song-card p {
  margin-left: 1em;
}
